Repository eigenq-xyz/options-hedge-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: lean-build, pytest

.pre-commit-config.yaml:

# Pre-commit hooks for option-hedge-engine
# Install: uv pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

# Skip hooks that require specialized tooling in pre-commit.ci
ci:
  skip: [lean-build, pytest]

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=2000']
      - id: check-merge-conflict
      - id: mixed-line-ending

  # Python: Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Python: Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-strict-optional]
        additional_dependencies: []
        files: ^python/src/

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: [--fix, --disable, MD013, MD033, MD041]  # Disable line length, HTML, first line heading

  # Lean: Ensure code compiles
  - repo: local
    hooks:
      - id: lean-build
        name: Lean Build
        entry: bash -c 'cd lean && lake build'
        language: system
        files: ^lean/.*\.lean$
        pass_filenames: false

      - id: pytest
        name: Python Tests
        entry: bash -c 'cd python && uv run pytest -q --tb=short'
        language: system
        files: ^python/(src|tests)/.*\.py$
        pass_filenames: false

docs: add disclaimer, badges, and clarify project priorities
  .github/workflows/python.yml
  DISCLAIMER.md
  README.md
Due: none

Apply consistent formatting to README.md
  README.md
Due: none

Omit token parameter entirely.
  .github/workflows/python.yml
Due: none

ci: remove path filters from workflows
  .github/workflows/lean.yml
  .github/workflows/python.yml
Due: none

refactor: simplify numeric types, remove overengineered Price structure
  README.md
  book/architecture/overview.md
  lean/OptionHedge/Accounting.lean
  lean/OptionHedge/Basic.lean
  lean/OptionHedge/Numeric.lean
Due: lean-build

feat: add FFI infrastructure for Lean↔Python communication
  lean/OptionHedge/Accounting.lean
  lean/lakefile.lean
  python/src/hedge_engine/__init__.py
  python/src/hedge_engine/bindings/__init__.py
  python/src/hedge_engine/certificate/__init__.py
  python/src/hedge_engine/cli.py
  python/src/hedge_engine/etl/__init__.py
  python/src/hedge_engine/ffi/__init__.py
  python/src/hedge_engine/ffi/lean_ffi.pyx
  python/tests/test_ffi.py
  python/tests/test_scaffold.py
Due: lean-build, pytest

feat: implement Python<->Lean marshalling for NAV calculation
  python/pyproject.toml
  python/setup.py
Due: none

fix: add type annotations to satisfy mypy
  python/src/hedge_engine/ffi/__init__.py
  python/tests/test_ffi.py
Due: pytest

feat: promote pricesPositive axiom to type-level Position invariant
  lean/OptionHedge/Basic.lean
  lean/OptionHedge/Invariants.lean
  lean/OptionHedge/Tests/UnitTests.lean
Due: lean-build

feat: implement Cython FFI — Python now calls verified Lean kernel
  .gitignore
  Makefile
  python/Makefile
  python/pyproject.toml
  python/setup_ffi.py
  python/src/hedge_engine/ffi/lean_ffi.pyx
  python/tests/test_ffi.py
  python/uv.lock
Due: pytest

feat: implement Trade type, applyTrade, and all four conservation proofs (v0.3)
  lean/OptionHedge/Accounting.lean
  lean/OptionHedge/Basic.lean
  lean/OptionHedge/Invariants.lean
  lean/OptionHedge/Tests/UnitTests.lean
  python/src/hedge_engine/ffi/__init__.py
  python/src/hedge_engine/ffi/lean_ffi.pyx
  python/tests/test_ffi.py
Due: lean-build, pytest

feat: refactor positions to Std.HashMap and prove all conservation invariants (v0.3.1)
  lean/OptionHedge/Accounting.lean
  lean/OptionHedge/Basic.lean
  lean/OptionHedge/Invariants.lean
  lean/OptionHedge/Tests/UnitTests.lean
  python/src/hedge_engine/ffi/lean_ffi.pyx
  python/tests/test_ffi.py
Due: lean-build, pytest

feat: kernel hardening — rename Position.assetId, add getMarkPrice_orZero, navUpdateFormula, WellFormed (v0.3.2)
  lean/OptionHedge/Basic.lean
  lean/OptionHedge/Invariants.lean
Due: lean-build

docs: remove Development Milestones section from README
  README.md
Due: none

feat: Python backtest stack — pricer, GBM, audit trail, Hull 19.2 (v0.4 Part 3)
  .pre-commit-config.yaml
  python/pyproject.toml
  python/src/hedge_engine/backtest/__init__.py
  python/src/hedge_engine/backtest/audit.py
  python/src/hedge_engine/backtest/data_types.py
  python/src/hedge_engine/backtest/runner.py
  python/src/hedge_engine/backtest/scenarios.py
  python/src/hedge_engine/etl/__init__.py
  python/src/hedge_engine/etl/data_types.py
  python/src/hedge_engine/etl/wrds_loader.py
  python/src/hedge_engine/ffi/__init__.py
  python/src/hedge_engine/ffi/lean_ffi.pyx
  python/src/hedge_engine/pricer/__init__.py
  python/src/hedge_engine/pricer/black_scholes.py
  python/src/hedge_engine/pricer/conventions.py
  python/src/hedge_engine/simulator/__init__.py
  python/src/hedge_engine/simulator/gbm.py
  python/tests/test_audit.py
  python/tests/test_backtest.py
  python/tests/test_etl.py
  python/tests/test_ffi.py
  python/tests/test_pricer.py
Due: pytest

feat: add Hull Table 19.3 OTM scenario ($256,600 gate, ±5%)
  python/src/hedge_engine/backtest/scenarios.py
  python/tests/test_backtest.py
Due: pytest

test: replace Hull tolerance gate with MC convergence + variance-reduction tests
  python/src/hedge_engine/backtest/scenarios.py
  python/tests/test_backtest.py
Due: pytest

feat: Lean options layer + BKL/Carr-Madan tests + README overhaul (v0.4 Parts 2 & 4)
  CLAUDE.md
  README.md
  lean/OptionHedge/Accounting.lean
  lean/OptionHedge/Basic.lean
  lean/OptionHedge/Invariants.lean
  lean/OptionHedge/OptionInvariants.lean
  lean/OptionHedge/Options.lean
  lean/OptionHedge/Tests/UnitTests.lean
  python/src/hedge_engine/etl/wrds_loader.py
  python/tests/test_backtest.py
Due: lean-build, pytest

feat: edge case tests, demo notebook, and JupyterBook site (v0.4 Part 4 complete)
  .github/workflows/publish-book.yml
  README.md
  book/_config.yml
  book/_toc.yml
  book/architecture/overview.md
  book/formal_guarantees.md
  book/human_ai.md
  book/intro.md
  book/notebooks
  book/references.bib
  book/validation.md
  notebooks/delta_hedge_demo.ipynb
  python/pyproject.toml
  python/tests/test_edge_cases.py
  python/uv.lock
Due: pytest

refactor: rename book/ → docs/, remove stale artifacts, fix Lean entry
  .github/workflows/publish-book.yml
  .gitignore
  CLAUDE.md
  docs/_config.yml
  docs/_toc.yml
  docs/architecture/overview.md
  docs/formal_guarantees.md
  docs/human_ai.md
  docs/intro.md
  docs/notebooks
  docs/references.bib
  docs/validation.md
  integration/test_lean_verify.sh
  lean/OptionHedge.lean
  lean/lakefile.lean
  python/tests/test_scaffold.py
Due: lean-build, pytest

feat: straddle portfolio hedge, OptionMetrics ETL fixes, real-data test (v0.4 Part 5)
  notebooks/delta_hedge_demo.ipynb
  python/src/hedge_engine/backtest/runner.py
  python/src/hedge_engine/backtest/scenarios.py
  python/src/hedge_engine/etl/data_types.py
  python/src/hedge_engine/etl/wrds_loader.py
  python/tests/test_backtest.py
  python/tests/test_etl.py
Due: pytest

test: independent scipy benchmark + out-of-sample holdout validation
  python/tests/test_backtest.py
  python/tests/test_pricer.py
Due: pytest

chore: add WRDS CSV conversion script, update data file to portfolio_atm_options.parquet
  python/tests/test_backtest.py
  scripts/wrds_csv_to_parquet.py
Due: pytest

feat: WRDS Security Prices join, real-data tests pass (v0.4 complete)
  docs/wrds_data_download.md
  python/pyproject.toml
  python/tests/test_backtest.py
  python/uv.lock
  scripts/wrds_csv_to_parquet.py
Due: pytest

feat: notebook sections 6-8 — real WRDS data, evolution chart, portfolio results
  notebooks/delta_hedge_demo.ipynb
Due: none

feat: v0.4-backtest complete — Lean FFI, Part 3b fixes, formal docs
  CONTRIBUTING.md
  DECISIONS.md
  README.md
  RISKS.md
  docs/architecture/overview.md
  docs/formal_guarantees.md
  docs/human_ai.md
  docs/intro.md
  docs/wrds_data_download.md
  lean/OptionHedge.lean
  lean/OptionHedge/Invariants.lean
  lean/OptionHedge/OptionInvariants.lean
  notebooks/delta_hedge_demo.ipynb
  python/setup.py
  python/src/hedge_engine/backtest/runner.py
  python/src/hedge_engine/backtest/scenarios.py
  python/src/hedge_engine/ffi/__init__.py
  python/src/hedge_engine/ffi/lean_ffi.pyx
  python/tests/test_backtest.py
  python/tests/test_ffi.py
Due: lean-build, pytest

ci: build Lean + Cython FFI extension in Python CI
  .github/workflows/python.yml
  python/setup.py
Due: none

docs: fix JupyterBook build — zero warnings
  docs/_config.yml
  docs/_toc.yml
  docs/architecture/overview.md
  notebooks/delta_hedge_demo.ipynb
Due: none

fix: remove stale Numeric module from FFI_MODULES in setup.py
  python/setup.py
Due: none

fix: link libleanrt.so (shared) on Linux — static .a is not PIC-safe
  python/setup.py
  python/src/hedge_engine/ffi/__init__.py
Due: pytest

ci: switch Python CI to macos-latest; simplify setup.py
  .github/workflows/python.yml
  python/setup.py
Due: none

fix: JupyterBook publish — correct output path, disable notebook re-execution
  .github/workflows/publish-book.yml
  docs/_config.yml
Due: none

feat: polishing fixes — strategy pattern, math rendering, citations, QuantEcon theme
  .gitignore
  README.md
  docs/_config.yml
  docs/formal_guarantees.md
  docs/intro.md
  docs/references.bib
  notebooks/delta_hedge_demo.ipynb
  python/pyproject.toml
  python/src/hedge_engine/backtest/runner.py
  python/src/hedge_engine/ffi/__init__.py
  python/src/hedge_engine/ffi/lean_ffi.pyx
  python/tests/test_ffi.py
  python/uv.lock
Due: pytest
